.team {
  background: rgb(225, 231, 253);
  background: linear-gradient(
    180deg,
    rgba(225, 231, 253, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.title {
  padding: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.team-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px 150px;
  justify-content: center;
}

.team-item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.team-text {
  margin: 8px 0;
  font-size: 18px;
  font-weight: normal;
}
